@if(showNavbar()){
<nav class="sticky top-0 z-20 bg-white shadow-sm">
  <div class="px-4 py-3 flex items-center justify-between">
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <div class="p-2 rounded-lg bg-gradient-to-r from-purple-600 to-blue-500">
        <lucide-icon [img]="TrendingUp" class="my-icon text-white"></lucide-icon>
      </div>
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Vorex</span>
    </a>
    <main class="flex items-center gap-8">
      <ul class="flex items-center gap-3 text-gray-800 capitalize">
        @for (navItem of navbarItems; track navItem.url) {
        @if(navItem.hideIfUnAuthenticated == false || authService.isAuthenticated()){
        <li class="cursor-pointer " [routerLink]="[navItem.url]" routerLinkActive="font-semibold text-purple-600">
          {{navItem.name}}</li>
        }
        }
      </ul>
      @if(authService.isAuthenticated()){
      <button class="group flex items-center gap-1 cursor-pointer relative">
        <div
          class="w-9 h-9 rounded-full bg-purple-800 text-white border border-gray-400 flex items-center justify-center capitalize">
          {{authService.getFullName().charAt(0)}}
        </div>
        <!-- user dropdown -->
        <div
          class="group-focus:block hidden absolute  w-50 top-11 right-0 bg-white p-2 rounded-lg shadow-sm border border-gray-200">
          <p class="font-semibold p-2 text-gray-500 capitalize">{{authService.getFullName()}}</p>
          <ul class="flex flex-col gap-1">
            <li class="group/user user-dropdown-menu-item flex-col relative">
              <header class="flex items-center justify-between w-full">
                <div class="flex items-center gap-2">
                  <lucide-icon [img]="Languages" size="18" class="my-icon "></lucide-icon>
                  <span>Languages</span>
                </div>
                <lucide-icon [img]="ChevronDown" size="18" class="my-icon "></lucide-icon>
              </header>
              <!-- language dropdown -->
              <ul class="w-full bg-white rounded-lg capitalize  flex-col gap-1 hidden group-hover/user:flex">

                @for(language of LanguagesList; track language.code){
                <li [ngClass]="{'bg-gray-100': language.code == authService.getPreferLanguageCode()}"
                  (click)="authService.setPreferLanguageCode(language.code)"
                  class="cursor-pointer text-md p-2 hover:bg-gray-100 transition">{{language.name}}</li>
                }
              </ul>
            </li>
            <hr class="my-2 border-gray-300">
            <li (click)="logout()" class="user-dropdown-menu-item">
              <lucide-icon [img]="LogOut" size="18" class="my-icon "></lucide-icon>
              <span>Logout</span>
            </li>
          </ul>
        </div>
      </button>
      }@else {
      <div class="flex items-center gap-2">
        <button class="btn btn--md btn-primary" [routerLink]="['/auth/login']"> Login</button>
        <button class="btn btn--md btn-primary-outline" [routerLink]="['/auth/signup']"> Sign Up</button>
      </div>
      }
    </main>
  </div>
</nav>
}