<section class="container page-padding">
  <!-- Search -->
  <form class="relative z-0">
    <lucide-icon [img]="Search"
      class="my-icon text-gray-400 absolute start-0 ms-1 top-1/2 -translate-y-1/2"></lucide-icon>
    <input [(ngModel)]="searchText" name="searchQuery" (blur)="toggleSearchFocus()" (focus)="toggleSearchFocus()"
      (keyup)="updatePaginationInputSearchValue(); updatePaginationInputPage(1); fetchCryptos()" type="text"
      placeholder="search for any crypto"
      class="transition border rounded p-3 pl-10 w-full focus:ring-2 focus:ring-purple-500 focus:border-purple-500 text-gray-600 border-purple-600 rounded-lg focus:outline-none focus:ring-0" />
    @if(isSearchFocus && searchText) {
    <lucide-icon [img]="X" [strokeWidth]="3" [size]="20"
      (click)="clearSearch(); updatePaginationInputPage(1); updatePaginationInputSearchValue(); fetchCryptos()"
      class="my-icon text-gray-400 cursor-pointer absolute end-0 me-1 top-1/2 -translate-y-1/2"></lucide-icon>
    }
  </form>
  <!-- Search Result -->
  <main class="py-8">
    <span class="text-right block mb-3 text-gray-400 text-sm"> Showing {{filteredCryptos.length }} /
      <span class="font-semibold">{{paginatedCryptos?.pagination?.totalItems}} results</span>
    </span>
    <div class="relative grid  gap-4 content-stretch" [ngClass]="{'grid-cols-5 ': filteredCryptos.length>0}">
      @for (crypto of filteredCryptos; track crypto.id) {
      <app-crypto-card class="flex flex-col" (fovouriteClicked)="toggleFavourite($event,crypto)"
        (anayzeRiskClicked)="setSelectedCrypto($event); showAnlysisRiskModal()"
        (historicalDataClicked)="setHistoricalDataModalInput($event); showHistoricalDataModal();"
        [crypto]="crypto"></app-crypto-card>
      }
      @empty {
      <div class="grid-cols-8 col-span-8 text-center">
        <app-empty-result class="block" [searchText]="searchText" [entityName]="'crypto'"></app-empty-result>
      </div>
      }
    </div>
  </main>

  <!-- Pagination -->
  @if(paginatedCryptos?.pagination && filteredCryptos.length > 0) {
  <app-paginator (pageChange)="updatePaginationInputPage($event); scrollToTop(); this.fetchCryptos()"
    [currentPage]="paginatedCryptos?.pagination?.pageIndex ?? 0"
    [totalPages]="paginatedCryptos?.pagination?.totalPages ?? 0" [visibleBubbles]="3"
    class="mx-auto block w-fit mt-8"></app-paginator>
  }
</section>

<!-- anyalyze risk modal -->
@if(selectedCrypto){
<app-analyze-risk-modal
  (riskAnaylized)="setRiskAnaylizedResult($event); hideAnlysisRiskModal(); showRiskAnalysisResultModal()"
  [crypto]="selectedCrypto"></app-analyze-risk-modal>
}

<!-- risk analysis result modal -->
@if(selectedCrypto && riskAnaylized){
<app-analyze-risk-result-modal [riskAnaylized]="riskAnaylized"></app-analyze-risk-result-modal>
}

@if(historicalDataModalInput){
<app-crypto-historical-prices-model (modelClosed)="setSelectedCrypto(null); setHistoricalDataModalInput(null);"
  [crypto]="historicalDataModalInput"></app-crypto-historical-prices-model>
}

<app-plz-login-modal message="to save your favourite crypto please login"></app-plz-login-modal>